In [38]:
import pandas as pd
import json

In [2]:
names=["ip", "1", "2", "3", "4", "url", "status", "size", "5", "6", "7"]
df = pd.read_csv("access.log", sep=" ", usecols= range(11), low_memory=False, header=None, names=names)
df = df.iloc[:,[0,5,6,7,8,9,10]]

In [3]:
def total_size(df):
    return df.shape[0]

In [6]:
def groupby_methods(df):
    df_methods_1 = df.copy()
    df_methods_1["method"] = df_methods_1.apply (lambda row: row["url"].split()[0], axis=1)
    df_methods_2 = pd.DataFrame(df_methods_1["method"])
    df_methods_2["cnt"] = 0
    return df_methods_2.groupby(by=["method"], as_index=False).count().reset_index(drop=True)
def groupby_methods_normal(df):
    df_meths = groupby_methods(df)
    return df_meths.loc[(df_meths["method"].astype('str').str.len() < 10)].reset_index(drop=True)
def groupby_methods_unnormal(df):
    df_meths = groupby_methods(df)
    return df_meths.loc[(df_meths["method"].astype('str').str.len() >= 10)].reset_index(drop=True)

In [13]:
def top10_urls(df):
    df_urls = pd.DataFrame(df.iloc[:,1])
    df_urls["cnt"] = 0
    df_urls2 = df_urls.copy()
    df_urls2["url_without_params"] = df_urls.apply (lambda row: row["url"].split()[1], axis=1)
    del df_urls2["url"]
    df_urls_g = df_urls2.groupby(by=["url_without_params"], as_index=False).count()
    return df_urls_g.sort_values("cnt", ascending=False).head(10).reset_index(drop=True)

In [32]:
def top5_size_4xx(df):
    df_filtered = df.query("status >= 400 and status < 500 and size != '-'").iloc[:,0:4].copy()
    df_filtered["size"] = df_filtered["size"].astype(int)
    return df_filtered.sort_values("size", ascending=False).head(5).reset_index(drop=True)

,ip,url,status,size
0,189.217.45.73,GET /index.php?option=com_phocagallery&view=ca...,404,1417
1,189.217.45.73,GET /index.php?option=com_phocagallery&view=ca...,404,1417
2,189.217.45.73,GET /index.php?option=com_phocagallery&view=ca...,404,1417
3,189.217.45.73,GET /index.php?option=com_phocagallery&view=ca...,404,1417
4,5.175.198.36,GET /index.php?option=com_easyblog&view=dashbo...,404,1397

In [19]:
def top5_users_5xx(df):
    df_5xx = df.query("status >= 500 and status < 600").iloc[:,[0]]
    df_5xx["cnt"] = 0
    return df_5xx.groupby(by=["ip"], as_index=False).count().sort_values("cnt", ascending=False).head(5).reset_index(drop=True)

In [42]:
def df_to_json(df):
    return json.loads(df.to_json(orient="split"))

In [46]:
mode = "json"
if mode == "raw":
    s = "Отчет по логу\n"
    s += "Кол-во запросов: " + str(total_size(df))
    
    s += "\n\nЧисло запросов (по типу):\n"
    s += groupby_methods_normal(df).to_string(index=False)
    
    s += "\n\nЧисло нестандартных запросов (по типу):\n"
    s += groupby_methods_normal(df).to_string(index=False)
    
    s += "\n\nТоп 10 самых частых запросов:\n"
    s += top10_urls(df).to_string(index=False)
    
    s += "\n\nТоп 5 самых больших по размеру запросов, которые завершились клиентской (4ХХ) ошибкой:\n"
    s += top5_size_4xx(df).to_string(index=False)
    
    s += "\nТоп 5 пользователей по количеству запросов, которые завершились серверной (5ХХ) ошибкой:\n"
    s += top5_users_5xx(df).to_string(index=False)
    
    with open("report.txt","w+") as f:
        f.writelines(s)
    print(s)
else: 
    report_json = {'total quaries': total_size(df), 
                      'by_types_normal':df_to_json(groupby_methods_normal(df)),
                      'by_types_unnormal':df_to_json(groupby_methods_unnormal(df)),
                      'top10_by_rate':df_to_json(top10_urls(df)),
                      'top5_client_fails_by_size':df_to_json(top5_size_4xx(df)),
                      'top5_users_by_requests_num':df_to_json(top5_users_5xx(df))}
#     , indent=4)
    print(s)

{
    "total quaries": 225133,
    "by_types_normal": {
        "columns": [
            "method",
            "cnt"
        ],
        "index": [
            0,
            1,
            2,
            3
        ],
        "data": [
            [
                "GET",
                122095
            ],
            [
                "HEAD",
                528
            ],
            [
                "POST",
                102503
            ],
            [
                "PUT",
                6
            ]
        ]
    },
    "by_types_unnormal": {
        "columns": [
            "method",
            "cnt"
        ],
        "index": [
            4
        ],
        "data": [
            [
                "g369g=%40eval%01%28base64_decode%28%24_POST%5Bz0%5D%29%29%3B&z0=QGluaV9zZXQoImRpc3BsYXlfZXJyb3JzIiwiMCIpO0BzZXRfdGltZV9saW1pdCgwKTtAc2V0X21hZ2ljX3F1b3Rlc19ydW50aW1lKDApO2VjaG8oIi0%2bfCIpOztlY2hvKCJlNTBiNWYyYjRmNjc1NGFmMDljYzg0NWI4YjU4ZTA3NiIpOztlY2hvKCJ8PC0iKTs7ZGllKCk7GET",
                1
            ]
        ]
    },
    "top10_by_rate": {
        "columns": [
            "url_without_params",
            "cnt"
        ],
        "index": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9
        ],
        "data": [
            [
                "/administrator/index.php",
                103932
            ],
            [
                "/apache-log/access.log",
                26336
            ],
            [
                "/",
                6940
            ],
            [
                "/templates/_system/css/general.css",
                4980
            ],
            [
                "/robots.txt",
                3199
            ],
            [
                "http://almhuette-raith.at/administrator/index.php",
                2356
            ],
            [
                "/favicon.ico",
                2201
            ],
            [
                "/wp-login.php",
                1644
            ],
            [
                "/administrator/",
                1563
            ],
            [
                "/templates/jp_hotel/css/template.css",
                1287
            ]
        ]
    },
    "top5_client_fails_by_size": {
        "columns": [
            "ip",
            "url",
            "status",
            "size"
        ],
        "index": [
            0,
            1,
            2,
            3,
            4
        ],
        "data": [
            [
                "189.217.45.73",
                "GET /index.php?option=com_phocagallery&view=category&id=4025&Itemid=53 HTTP/1.1",
                404,
                1417
            ],
            [
                "189.217.45.73",
                "GET /index.php?option=com_phocagallery&view=category&id=7806&Itemid=53 HTTP/1.1",
                404,
                1417
            ],
            [
                "189.217.45.73",
                "GET /index.php?option=com_phocagallery&view=category&id=%28SELECT%20%28CASE%20WHEN%20%289168%3D4696%29%20THEN%209168%20ELSE%209168%2A%28SELECT%209168%20FROM%20INFORMATION_SCHEMA.CHARACTER_SETS%29%20END%29%29&Itemid=53 HTTP/1.1",
                404,
                1417
            ],
            [
                "189.217.45.73",
                "GET /index.php?option=com_phocagallery&view=category&id=%28SELECT%20%28CASE%20WHEN%20%281753%3D1753%29%20THEN%201753%20ELSE%201753%2A%28SELECT%201753%20FROM%20INFORMATION_SCHEMA.CHARACTER_SETS%29%20END%29%29&Itemid=53 HTTP/1.1",
                404,
                1417
            ],
            [
                "5.175.198.36",
                "GET /index.php?option=com_easyblog&view=dashboard&layout=write HTTP/1.1",
                404,
                1397
            ]
        ]
    },
    "top5_users_by_requests_num": {
        "columns": [
            "ip",
            "cnt"
        ],
        "index": [
            0,
            1,
            2,
            3,
            4
        ],
        "data": [
            [
                "189.217.45.73",
                225
            ],
            [
                "82.193.127.15",
                4
            ],
            [
                "91.210.145.36",
                3
            ],
            [
                "198.38.94.207",
                2
            ],
            [
                "194.87.237.6",
                2
            ]
        ]
    }
}